name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: AngelicaDev17
          outputs: |
            dist/snake.svg
      - uses: actions/upload-artifact@v4
        with:
          name: snake
          path: dist/snake.svg
      - uses: actions/checkout@v4
      - run: mkdir -p dist
      - uses: actions/download-artifact@v4
        with:
          name: snake
          path: dist
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Atualizando animação Snake"
          file_pattern: dist/snake.svg

